@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'IDroid';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color0: #ebe5c5;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --font0: Arial, Verdana, Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Idroid', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font0);
    background-color: var(--color0);
    margin: 0px;
}

a.external::after {
    content: '\1F517';
}


/* Header */
header {
    color: white;
    text-align: center;

    background-image: linear-gradient(180deg, var(--color3), var(--color5));

    padding-top: 40px;

    min-height: 150px;
}

header h1 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    font-family: var(--font1);
    font-size: 3em;
    font-weight: normal;

    margin-bottom: 20px;
}

header p {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;

    max-width: 600px;
    padding: 0px 10px 30px;
    margin: auto;
}


/* Nav */
nav {
    background-color: var(--color5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    
    padding: 10px;
}

nav > a {
    color: var(--color2);
    font-weight: bold;
    text-decoration: none;

    padding: 10px;
    border-radius: 5px;

    transition-duration: 0.2s;
}

nav > a:hover {
    background-color: var(--color2);
    color: var(--color5);
}

#fale_conosco {
    transition-duration: 0.5s;
}


/* Main */
main {
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    background-color: white;

    max-width: 1000px;
    min-width: 300px;
}

article h1 {
    font-family: var(--font2);
    color: var(--color5);
    font-weight: normal;
    font-size: 1.8em;
}

article h2 {
    font-family: var(--font2);
    font-size: 1.3;
    font-weight: normal;
    color: var(--color4);
    text-indent: 8px;

    background-image: linear-gradient(to right, var(--color1), transparent);
}

article p {
    margin: 15px 0px;

    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
} 

article strong {
    color: var(--color4);
}

article a {
    color: var(--color5);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
    
    background-color: var(--color1);
}

article a:hover {
    text-decoration: underline;
    color: var(--color4);
}

img {
    width: 100%;
}

.pequeno {
    margin: auto;
    display: block;
    max-width: 350px;

}

.video {
    background-color: var(--color5);

    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.592%;
    position: relative;
}

.video > iframe  {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}

aside  {
    border-radius: 10px;
    padding: 10px;
    
    background-color: var(--color1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

aside h3 {
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    
    font-weight: bold;
    color: white;

    margin: -10px -10px 0px -10px;
    
    background-color: var(--color4);
}

aside p {
    text-indent: 30px;
}

aside  ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}


/* Footer */
footer {
    color: white;
    text-align: center;
    font-size: 0.8em;

    padding: 5px;    
    margin-top: 30px;
    
    background-color: var(--color5);
}
